// Variables
comments_width = 430px
player_comments_margin = 30px

div#main
  margin: 0 5%
  margin-top 100px

div#comments
  overflow-y scroll
  overflow-x hidden
  height 654px
  padding-right 18px

  div.comment
    margin-bottom 14px
    box-shadow: 0 10px 6px -6px #777

    span.res_idx
      font-weight bold

    pre.text
      color #111

div#video_container
  margin-right comments_width + player_comments_margin

  div._wrap
    width 100%

    div#player_container
      width 100%

div#comments_container
  width comments_width
  float right
